<%provide(:title, "About") %>
<h1>About Us</h1>
<div class="row">
<div class="col-md-8 col-md-offset-2">
<p>
  Unidex is a microblogging website designed for students at any academia to connect with other students, either within their school or outside. Unidex hopes to bring together young people to help inspire, motivate, and breed collaboration between students across the world.
</p>
</div>
</div>