<% provide(:title, 'Contact') %>
<h1> Contact Us </h1>
<div class="row">
<div class="col-md-8 col-md-offset-2">
<p>
<strong> Creator</strong><br>
<i>Shawna Jacobson-Sims</i><br>
<span class="glyphicon glyphicon-earphone"></span> (206) 555-1994<br>
<span class="glyphicon glyphicon-envelope"></span> sjacobso@unidex.com<br>
</p>

<p>
<strong> Manager</strong><br>
<i>John Spain</i><br>
<span class="glyphicon glyphicon-earphone"></span> (206) 555-1993<br>
<span class="glyphicon glyphicon-envelope"></span> jspain@unidex.com<br>
</p>
</div>
</div>

