<%provide(:title, "Help") %>
<h1>Help</h1>
<div class="row">
<div class="col-md-8 col-md-offset-2">
<p>
We are happy to hear from you. We apologize if there is an error on any of our associated webpages. If you would like to report an error, or you are unable to locate certain informattion please feel free to contact our <a href="mailto:sjacobso@linfield.edu" target="_top">Web Master</a>. We appreciate your feedback! Please tell us how we can improve your user experience!
</p>
</div>
</div>